body {
    background-color: #62c2c8;
}

.App {
    min-height: 80vh;
    width: 400px;
    background-color: #ffffff;
    margin: 20px auto;
}

.crossed {
    text-decoration: line-through 2px red;
    background-color: antiquewhite;
}

ul,
li
{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: none;
    width: 70%;
    color: white;
    font-size: 16px;
}

.add {
    background: #65aa06;
    margin-top: 5px;
}

.delete {
    background: #d30100;
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

input {
    flex: 1;
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
}

img {
    border-radius: 50%;
}